.keyboardPianoModule{
    overflow: hidden;
    display: inline-block;
    position: fixed;
    bottom: 0;
    margin: 5px;
}

.ocButton{
    background: none;
    width: 55px;
    height: 26px;
    display: inline-block;
    font-size: 12px;
    border: 1px #cdcdcd solid;
    border-radius: 5px;
    transition: background 0.3ms;
}

.ocButton:hover{
    background: #cdcdcd;
}

.ocButton:active{
    background: #808080;
}

.octaveNumber{
    width: 55px;
    line-height: 20px;
    font-size: 18px;
}

.octaveControls{
    width: 55px;
    display: inline-block;
}

.keyboardPiano{
    display: inline-block;
}

.keysWhite{
    fill: #ffffff;
    stroke: #000000;
}

.keysWhite:hover{
    fill: #243160;
}

.keysWhite:active{
    fill: #d9114a;
}

.keysBlack{
    fill:  #000000;
    stroke: #ffffff;
}

.keysBlack:hover{
    fill: #243160;
}

#activeKeyboard{
    width: 15px;
    height: 15px;
    background: #243160;
    border-radius: 50%;
}

.text{
    font-family: 'Roboto';
    font-size: 16px;
}